<header>
  <h1>Lazy Loading Poke Api</h1>
  <div class="botones">
    <button
      pButton
      pRipple
      type="button"
      label="Agua"
      routerLink="/pokemonesAgua"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Fuego"
      class="p-button-warning"
      routerLink="/pokemonesFuego"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Planta"
      class="p-button-success"
      routerLink="/pokemonesPlanta"
    ></button>
  </div>
</header>

<router-outlet></router-outlet>
